@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Lexend+Mega:wght@300;400;500;600&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Mega', sans-serif;    
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFE4A4;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #DAB56A, #EFE4A4);
    padding: 1rem;
}

.image img {
    width: 31rem;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 3rem; 
}

.login-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.register-button {
    display: flex;
    align-items: center;
}

.register-button button {
    border: none;
    background-color: #9BA141;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative; 
}

.register-button button:hover {
    background-color: #a3aa45;
    transform: translateY(-5px);
    box-shadow: 0px 4px 3px black;
}

.register-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #FFF; 
}

.login-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #9BA141;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #9BA141;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.login-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #9BA141;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative; 
}

.login-button button:hover {
    transform: translateY(-5px);
    background-color: #a3aa45;
    box-shadow: 0px 4px 3px black;
}

.login-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .login {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;  
    }
}

/* Estilização da tela 'FEIRA' - 'market' */

.feira-container {
    width: 90%;
    height: 100%;
    background-color: #FFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

header {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f3e69f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.logo-img {
    padding: 1rem;

}

.logo-img img {
    width: 100px;
}

.feira-title {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.feira-title h1 {
    font-size: 22px;
    text-transform: uppercase;
}

.feira-title h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #9BA141;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.feira-title h2 {
    font-size: 15px;
    text-align: center;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.menu ul li a:hover {
    color: #FFF;
    background-color: #9BA141;
    transform: translateY(-5px);
    box-shadow: 0px 4px 3px black;
}

/* Card sections */

.cards-container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.cards-container div {
    flex: 1 1 300px;
    margin: 10px;
}

.cards-container img {
    width: 100%;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card h2 {
    font-size: 21px;
    margin: 5px;
    box-shadow: 7px 7px 13px 0px rgb(#9BA141);
}

.card:hover {
    background-color: #9BA141;
    transform: translateY(-5px);
    cursor: pointer;
    color: #FFF;
    box-shadow: 0px 4px 3px black;
} 
